In [1]:
import pandas as pd
import numpy as np

/Users/chandermohan/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv("movies.csv")

/var/folders/kt/5z_vtfbj51b1rnt8qswv9p940000gn/T/ipykernel_43099/880863767.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies.csv")

In [27]:
df

,backdrop_path,id,title,original_title,overview,poster_path,genre_ids,popularity,release_date,vote_average,vote_count
0,/oe7mWkvYhK4PLRNAVSvonzyUXNy.jpg,359410,Road House,Road House,Ex-UFC fighter Dalton takes a job as a bouncer...,/bXi6IQiQDHD00JFio5ZSZOeRSBh.jpg,"[28, 53]",2433.669,2024-03-08,7.204,1093.0
1,/xOMo8BRK7PfcJv9JCnx7s5hj0PX.jpg,693134,Dune: Part Two,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg,"[878, 12]",752.461,2024-02-27,8.357,2367.0
2,/sR0SpCrXamlIkYMdfz83sFn5JS6.jpg,823464,Godzilla x Kong: The New Empire,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",/tMefBSflR6PGQLv7WvFPpKLZkyk.jpg,"[28, 878, 12]",4436.632,2024-03-27,6.737,308.0
3,/pwGmXVKUgKN13psUjlhC9zBcq1o.jpg,634492,Madame Web,Madame Web,"Forced to confront revelations about her past,...",/rULWuutDcN5NvtiZi4FRPzRYWSh.jpg,"[28, 14]",1497.734,2024-02-14,5.637,917.0
4,/fS89P93Lq6pyT7d8ox8AMAEtXUs.jpg,792307,Poor Things,Poor Things,Brought back to life by an unorthodox scientis...,/kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg,"[878, 10749, 35]",416.367,2023-12-07,7.820,2914.0
...,...,...,...,...,...,...,...,...,...,...,...
65539,/vNbNObzjiPU0mrQKQw3XqjOfxgQ.jpg,1247793,Kids Are Growing Up: A Story About a Kid Named...,Kids Are Growing Up: A Story About a Kid Named...,An up-close and personal behind the scenes loo...,/ksj8IPyvNIDOBk15wcxEH4tsG0O.jpg,"[99, 10402]",23.189,2024-02-29,5.500,2.0
65540,/hmOrnAImC8QVRurauDcK0l3jjyw.jpg,417466,Monos,Monos,"On a faraway mountaintop, eight kids with guns...",/oxxIOWDP6beG37VG3jMxE77pRwC.jpg,"[18, 12]",13.891,2019-08-15,6.649,365.0
65541,/mN8L1gYgbLZW88jwj3ok2WO4UvE.jpg,7979,The Kite Runner,The Kite Runner,"After spending years in California, Amir retur...",/dom2esWWW8C9jS2v7dOhW48LwHh.jpg,[18],20.222,2007-12-14,7.300,1098.0
65542,/iDTJo9M5SLOCwqbixLt5USHz39E.jpg,2487,Lady Snowblood,修羅雪姫,Yuki's family is nearly wiped out before she i...,/wkcbaqCoYEXDUnSQ6NTnB2C7H05.jpg,"[28, 80, 18]",17.634,1973-12-01,7.545,345.0
65543,/c8H6Xi9im1tT6HP9PA9HpFE3sOy.jpg,11443,Dead Presidents,Dead Presidents,On the streets they call cash dead presidents....,/wRLepMZoUCwjLFb1WSbuUT6uVWR.jpg,"[28, 80]",14.905,1995-09-29,6.700,274.0

In [28]:
duplicate_rows = df.duplicated()

In [29]:
duplicate_rows

0        False
1        False
2        False
3        False
4        False
         ...
65539    False
65540    False
65541    False
65542    False
65543    False
Length: 65544, dtype: bool

In [14]:
null_values = df.isnull().sum()

In [33]:
df_no_duplicates = df.drop_duplicates()

In [34]:
len(df_no_duplicates)

9891

In [37]:
new_df = df_no_duplicates.dropna()

In [38]:
new_df.isna().sum()

backdrop_path     0
id                0
title             0
original_title    0
overview          0
poster_path       0
genre_ids         0
popularity        0
release_date      0
vote_average      0
vote_count        0
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'duplicate'

In [6]:
df["conditions"].value_counts()

conditions
Rain, Partially cloudy    8
Clear                     3
Rain, Overcast            2
Partially cloudy          2
Name: count, dtype: int64

In [46]:
len(new_df["id"].unique())

9754

In [47]:
new_df.to_csv("cleaned_movies.csv", index=False)

In [48]:
dff = pd.read_csv("cleaned_movies.csv")

In [51]:
dff['id'][0:10].tolist()

[359410,
 693134,
 823464,
 634492,
 792307,
 438631,
 763215,
 1011985,
 872585,
 1125311]

In [63]:
crew_detail = pd.read_csv("movie_details.csv")

In [65]:
crew_detail

,budget,genres,imdb_id,movie_id,runtime,tagline
0,85000000,"Action, Thriller",tt3359350,359410,121,Take it outside.
1,190000000,"Science Fiction, Adventure",tt15239678,693134,167,Long live the fighters.
2,135000000,"Action, Science Fiction, Adventure",tt14539740,823464,115,Rise together or fall alone.
3,80000000,"Action, Fantasy",tt11057302,634492,116,Her web connects them all.
4,35000000,"Science Fiction, Romance, Comedy",tt14230458,792307,142,She's like nothing you've ever seen.
...,...,...,...,...,...,...
9749,0,"Documentary, Music",tt31415596,1247793,85,NaN
9750,1800000,"Drama, Adventure",tt6062774,417466,103,Survival is a cruel game.
9751,20000000,Drama,tt0419887,7979,128,There is a way to be good again.
9752,0,"Action, Crime, Drama",tt0158714,2487,97,I threw away my tears. I gave up my heart. I c...
9753,10000000,"Action, Crime",tt0112819,11443,119,"In this daring heist, the only color that coun..."