In [1]:
import pandas as pd
import numpy as np

/Users/chandermohan/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [15]:
df = pd.read_csv("movie_tmdb_review.csv")

In [19]:
a = df["id"].to_list()

In [20]:
a

[359410,
 693134,
 823464,
 634492,
 792307,
 438631,
 763215,
 1011985,
 872585,
 802219,
 984324,
 1125311,
 967847,
 848538,
 787699,
 572802,
 1181548,
 915935,
 866398,
 467244,
 1072790,
 857655,
 346698,
 695721,
 636706,
 129,
 940551,
 1022796,
 969492,
 609681,
 508883,
 666277,
 976893,
 399566,
 838209,
 313369,
 157336,
 1019420,
 671,
 1022690]

In [2]:
df = pd.read_csv("weather_data.csv")

In [4]:
df.head()

,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,sunrise,sunriseEpoch,sunset,sunsetEpoch,moonphase,conditions,description,icon,stations,source
0,2022-03-01,1646053200,25.0,19.7,22.0,25.0,19.7,22.0,18.9,83.2,...,07:04:03,1646078643,20:00:24,1646125224,0.94,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"['95874099999', '94866099999', '95936099999', ...",obs
1,2022-03-02,1646139600,29.5,19.8,23.6,29.2,19.8,23.7,17.8,73.6,...,07:05:04,1646165104,19:59:00,1646211540,0.98,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"['95874099999', '94866099999', '95936099999', ...",obs
2,2022-03-03,1646226000,29.9,17.4,23.4,29.6,17.4,23.4,16.2,67.5,...,07:06:05,1646251565,19:57:34,1646297854,0.00,Clear,Clear conditions throughout the day.,clear-day,"['95874099999', '94866099999', '95936099999', ...",obs
3,2022-03-04,1646312400,32.1,18.2,24.2,31.9,18.2,24.1,16.6,67.2,...,07:07:05,1646338025,19:56:08,1646384168,0.04,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"['95874099999', '94866099999', '95936099999', ...",obs
4,2022-03-05,1646398800,21.3,17.3,19.5,21.3,17.3,19.5,17.7,89.7,...,07:08:05,1646424485,19:54:42,1646470482,0.07,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"['95874099999', '94866099999', '95936099999', ...",obs

In [6]:
df["conditions"].value_counts()

conditions
Rain, Partially cloudy    8
Clear                     3
Rain, Overcast            2
Partially cloudy          2
Name: count, dtype: int64

In [1]:
df

NameError: name 'df' is not defined